/SharpTiles/.vs/
/SharpTiles/org.SharpTiles.Common.Test/obj/
/SharpTiles/org.SharpTiles.Common/obj/
/SharpTiles/org.SharpTiles.Connectors/obj/
/SharpTiles/org.SharpTiles.ConnectorsTest/obj/
/SharpTiles/org.SharpTiles.Documentation.Test/obj/
/SharpTiles/org.SharpTiles.Documentation/bin/
/SharpTiles/org.SharpTiles.Documentation/obj/
/SharpTiles/org.SharpTiles.Expressions.Test/obj/
/SharpTiles/org.SharpTiles.Expressions/obj/
/SharpTiles/org.SharpTiles.HtmlTags.Test/obj/
/SharpTiles/org.SharpTiles.HtmlTags/obj/
/SharpTiles/org.SharpTiles.NUnit.Test/obj/
/SharpTiles/org.SharpTiles.NUnit/obj/
/SharpTiles/org.SharpTiles.TagLib/obj/
/SharpTiles/org.SharpTiles.Tags.Test/obj/
/SharpTiles/org.SharpTiles.Templates.Test/obj/
/SharpTiles/org.SharpTiles.Templates/obj/
/SharpTiles/org.SharpTiles.Tiles.Test/obj/
/SharpTiles/org.SharpTiles.Tiles/obj/
/SharpTiles/org.SharpTiles.Common.Test/bin/
/SharpTiles/org.SharpTiles.Common/bin/
/SharpTiles/org.SharpTiles.Connectors/bin/
/SharpTiles/org.SharpTiles.ConnectorsTest/bin/
/SharpTiles/org.SharpTiles.Documentation.Test/bin/
/SharpTiles/org.SharpTiles.Expressions.Test/bin/
/SharpTiles/org.SharpTiles.Expressions/bin/
/SharpTiles/org.SharpTiles.HtmlTags.Test/bin/
/SharpTiles/org.SharpTiles.HtmlTags/bin/
/SharpTiles/org.SharpTiles.NUnit.Test/bin/
/SharpTiles/org.SharpTiles.NUnit/bin/
/SharpTiles/org.SharpTiles.TagLib/bin/
/SharpTiles/org.SharpTiles.Tags.Test/bin/
/SharpTiles/org.SharpTiles.Templates.Test/bin/
/SharpTiles/org.SharpTiles.Templates/bin/
/SharpTiles/org.SharpTiles.Tiles.Test/bin/
/SharpTiles/org.SharpTiles.Tiles/bin/
/MVCSample/SharpTilesSample/bin/
/MVCSample/SharpTilesSample/obj/
/MVCSample/SharpTilesSampleTest/bin/
/MVCSample/SharpTilesSampleTest/obj/
/MonorailSample/SharpTilesSample/bin/
/MonorailSample/SharpTilesSample/obj/
/MonorailSample/SharpTilesSampleTest/bin/
/MonorailSample/SharpTilesSampleTest/obj/
/SharpTiles/Backup/
/SharpTiles/org.SharpTiles.Connectors.Monorail.Test/bin/
/SharpTiles/org.SharpTiles.Connectors.Monorail.Test/obj/
/SharpTiles/org.SharpTiles.Connectors.Monorail/bin/
/SharpTiles/org.SharpTiles.Connectors.Monorail/obj/
/WebFormSample/SharpTilesSample/bin/
/WebFormSample/SharpTilesSample/obj/
/WebFormSample/SharpTilesSampleTest/bin/
/WebFormSample/SharpTilesSampleTest/obj/
/distribution
/build
/.fake
/TestResult.xml
/tools/FAKE
/documentation
