<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>TEST TITLE</title>
    <link href="/SharpTilesSample/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="page">
		
        <div id="header">
            <p id="logo">
                <a href="">My Sample MVC Application WITH TILES</a>
            </p>
            <ul id="menu">
                <li>
                    <a id="menu_to_index" href="/SharpTilesSample/Home/Index">Index</a> 
                </li>
                <li>
                    <a id="menu_to_about" href="/SharpTilesSample/Home/About">About</a> 
                </li>
            </ul>
        </div>

        <div id="main">
            <div id="content">
				@body@
            </div>
            <div id="footer">
                <p>
                    My Sample MVC Application WITH TILES &copy; Copyright 2008
                </p>
            </div>
        </div>
		
    </div>
</body>
</html>