<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <NUnit>
    <TestRunner>
      <!-- Valid values are STA,MTA. Others ignored. -->
      <add key="ApartmentState" value="STA" />
    </TestRunner>
  </NUnit>
  <appSettings>
    <add key="Test.Project.Path" value="SharpTilesSampleTest\bin\Debug" />
    <add key="WebApp.Project.Path" value="SharpTilesSample" />
  </appSettings>
</configuration>
